@using CV.Web.Models.Entity
@model List<TblAboutMe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hakkımda Sayfası</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {
        <label>Ad</label>
        <input type="text" name="Name" value="@item.Name" class="form-control" />
        <br />
        <label>Soyad</label>
        <input type="text" name="Surname" value="@item.Surname" class="form-control" />
        <br />
        <label>Adres</label>
        <input type="text" name="Adress" value="@item.Adress" class="form-control" />
        <br />
        <label>Telefon</label>
        <input type="text" name="Phone" value="@item.Phone" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" name="Mail" value="@item.Mail" class="form-control" />
        <br />
        <label>Resim</label>
        <input type="text" name="Image" value="@item.Image" class="form-control" />
        <br />
        <label>Hakkımda</label>
        <textarea rows="5" class="form-control" name="Description">@item.Description</textarea>
    }
    <br/>
    <button class="btn btn-success">Güncelle</button>
</form>

